.custom-stroke {
	--stroke-color: white;
	--stroke-width: 0.016em;
	--shadow-blur: 0.001em;
	filter: drop-shadow(var(--stroke-width) 0 var(--stroke-color)) /* Right */
		drop-shadow(calc(var(--stroke-width) * -1) 0 var(--stroke-color)) /* Left */
		drop-shadow(0 var(--stroke-width) var(--stroke-color)) /* Bottom */
		drop-shadow(0 calc(var(--stroke-width) * -1) var(--stroke-color)) /* Top */
		drop-shadow(var(--stroke-width) var(--stroke-width) var(--stroke-color))
		/* Bottom-right */
		drop-shadow(
			calc(var(--stroke-width) * -1) calc(var(--stroke-width) * -1)
				var(--stroke-color)
		)
		/* Top-left */
		drop-shadow(
			calc(var(--stroke-width) * -1) var(--stroke-width) var(--stroke-color)
		)
		/* Bottom-left */
		drop-shadow(
			var(--stroke-width) calc(var(--stroke-width) * -1) var(--stroke-color)
		)
		/* Top-right */
		drop-shadow(0.2rem 0.2rem var(--shadow-blur) rgba(0, 0, 0, 0.3)); /* Real shadow */
}

.custom-stroke-lg {
	--stroke-color: white;
	--stroke-width: 0.128em;
	--shadow-blur: 0.04em;
	filter: drop-shadow(var(--stroke-width) 0 var(--stroke-color)) /* Right */
		drop-shadow(calc(var(--stroke-width) * -1) 0 var(--stroke-color)) /* Left */
		drop-shadow(0 var(--stroke-width) var(--stroke-color)) /* Bottom */
		drop-shadow(0 calc(var(--stroke-width) * -1) var(--stroke-color)) /* Top */
		drop-shadow(var(--stroke-width) var(--stroke-width) var(--stroke-color))
		/* Bottom-right */
		drop-shadow(
			calc(var(--stroke-width) * -1) calc(var(--stroke-width) * -1)
				var(--stroke-color)
		)
		/* Top-left */
		drop-shadow(
			calc(var(--stroke-width) * -1) var(--stroke-width) var(--stroke-color)
		)
		/* Bottom-left */
		drop-shadow(
			var(--stroke-width) calc(var(--stroke-width) * -1) var(--stroke-color)
		)
		/* Top-right */
		drop-shadow(0.2rem 0.2rem var(--shadow-blur) rgba(0, 0, 0, 0.3)); /* Real shadow */
}
